/*Jasmine Frye*/
/*Define The Mind Typology Stylesheet*/

body	{font-size: 18px;
		background-color: #680121;
		color: #9fd5b3;}

header	{margin-bottom: 0;
		text-shadow: 3px 3px #3c4552;
		text-align: center;}

main	{margin-left:  75px;
		margin-right: 200px;
		margin-bottom: 100px;}

nav	a	{font-weight: bold;
		font-style: italic;
		text-decoration: none;
		color: #9fd5b3;}
		
h1		{margin-bottom: 0;
		line-height: 400%;
		text-indent: 1em;}

h2		{text-shadow: 3px 3px #3c4552;}

h3		{text-shadow: 3px 3px #3c4552;}

.center		{display: flex;
			justify-content: center;}
		
.right		{float: right}

.gallery	{display: flex;
			flex-flow: row-wrap;
			justify-content: space-around;
			margin-bottom: 10px;
			text-align: center;}